{% extends "layout.html" %}

{% block head %}
Welcome!
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1>
"To touch grass, or not to touch grass: that is the question: <br>
Whether 'tis nobler in the mind to suffer  <br>
The loneliness and of dark shelter,  <br>
Or to take arms against the world outside, <br>  
And by opposing end them?" <br>
</h1>

{% if session["logged_in"] %}
<div class="container">
    <div class="row">
        <a class="btn btn-primary btn-lg btn-block" href="/grass">GO OUTSIDE?</a>
    </div>
</div>

<br>

    {% if session["preferences"] %}
        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><h1>Factors</h1></th>
                    <th scope="col"><h1>Preferences</h1></th>
                </tr> 
                </thead>
                <tbody>
                    <tr>
                        <td><h1 class="display-4">City</h1></td><td><h1 class="display-6">{{ city }}</h1></td>
                    </tr>
                    <tr>
                        <td><h1 class="display-4">Weather</h1></td><td><h1 class="display-6">{{ weather_pref }} / 10</h1></td>
                    </tr>
                    <tr>
                        <td><h1 class="display-4">NBA</h1></td><td><h1 class="display-6">{{ nba_pref }} / 10</h1></td>
                    </tr>
                    <tr>
                        <td><h1 class="display-4">Anime</h1></td><td><h1 class="display-6">{{ anime_pref }} / 10</h1></td>
                    </tr>
                    <tr>
                        <td><h1 class="display-4">Favorite Anime</h1></td><td><h1 class="display-6">{{ favorite_anime }}</h1></td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"><h1>Factors</h1></th>
                <th scope="col"><h1>Preferences</h1></th>
            </tr> 
            </thead>
            <tbody>
                <tr>
                    <td><h1 class="display-4">City</h1></td><td></td>
                </tr>
                <tr>
                    <td><h1 class="display-4">Weather</h1></td><td></td>
                </tr>
                <tr>
                    <td><h1 class="display-4">NBA</h1></td><td></td>
                </tr>
                <tr>
                    <td><h1 class="display-4">Anime</h1></td><td></td>
                </tr>
                <tr>
                    <td><h1 class="display-4">Favorite Anime</h1></td><td></td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="alert alert-primary" role="alert">
            You have not filled out your preferences. You will not be able to access any of the features until you do so.
        </div>
    {% endif %}

{% endif %} 


{% endblock %}