{% extends "layout.html" %}

{% block head %}
All NBA games this month
{% endblock %}

{% block title %}
NBA
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Team</th>
            
            <th scope="col">Time</th>
        </tr> 
        </thead>
        <tbody>
            {%for row in data%}
            <tr>
                <td>{{row['v']['tc'] + " " + row['v']['tn'] + " vs. " + row['h']['tc'] + " " + row['v']['tn']}}</td>
                <td>{{row['gdte'] + " " + row['stt']}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
{% endblock %}