{% extends "layout.html" %}

{% block head %}
Preferences
{% endblock %}

{% block title %}
Preferences
{% endblock %}

{% block body %}
    <form action="preferences" type="POST">
        <div class="container">
            <div class="row">
                <div class="form-check form-switch">
                    <div class="col-3">
                        <input class="form-check-input" type="checkbox" name="nba" id="nba">
                    </div>
                    <div class="col-5">
                        <label class="form-check-label" for="nba">I like the NBA and watching basketball</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <input type="submit">
                </div>
            </div>
        </div>
    </form>
{% endblock %}