{% extends "layout.html" %}

{% block head %}
Preferences
{% endblock %}

{% block title %}
Preferences
{% endblock %}

{% block body %}
    {% if page2 %}
    <form action="preferences" method="POST">
        <input type="hidden" name="page2" value="True">
        <div class="container">

            <div class="row">
                <div class="col-8 offset-2">
                    <label for="search" class="form-label">Pick Your Favorite Anime</label>
                    <div class="input-group">
                    <input class="form-control" type="text" id="search" name="search" placeholder="Enter keywords of your favorite anime to search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" name="submit" value="Search" type="submit">Search</button>
                        </div>
                    </div>
                </div>

            </div>

            {% for x in searchresult %}
            <div class="card" style="width: 18rem;">
                <img src="{{x['main_picture']['medium']}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{x['title']}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button class="btn btn-outline-secondary" name="submit" value="{{x['id']}}" type="submit">Select</button>
                </div>
            </div> 
            {% endfor %}
            <!--{% for x in searchresult %}
            <div class="row">
                <div class="col-8 offset-2">
                    <button type="submit" value="{{x['id']}}" name="submit" class="btn btn-primary btn-block w-100 mt-3" >{{x['title']}}</button>
                </div>
            </div>
            {% endfor %} -->
        </div>
    </form>
    {% else %}
    <form action="preferences" method="POST">
        <div class="container">
            <div class="row mb-3">
                <div class="col-8 offset-2">
                    <label for="city" class="form-label">What City are you in?</label>
                    <input class="form-control" list="cityOptions" id="city" name="city" placeholder="Type to search..." required>
                    <datalist id="cityOptions">
                    {% for x in cities %}
                        <option value="{{ x }}">
                    {% endfor %}
                    </datalist>
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <label for="nba" class="form-label">How important is the NBA to you?</label>
                    <input type="range" class="form-range" min="0" max="10" step="1" id="league" name="nba">
                </div>
            </div>

            <div class="row">
                <div class="col-8 offset-2">
                    <label for="weather" class="form-label">How important is the weather to you?</label>
                    <input type="range" class="form-range" min="0" max="10" step="1" id="weather" name="weather">
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <label for="anime" class="form-label">How important is the Anime to you?</label>
                    <input type="range" class="form-range" min="0" max="10" step="1" id="anime" name="anime">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-1">
                    <input type="submit">
                </div>
            </div>
        </div>
    </form>
    {% endif %}
{% endblock %}