{% extends "layout.html" %}

{% block head %}
Register
{% endblock %}

{% block title %}
Register
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="POST">
            <div class="mb-3">
                <label for="user" class="form-label">Enter new username</label>
                <input type="text" class="form-control" id="user" name="user" placeholder="Enter new username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Enter new password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" required>
            </div>
            <div class="mb-3">
                <label for="confirm" class="form-label">Confirm new password</label>
                <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm new password" required>
            </div>
            <input type="submit"> 
        </form>
        {% if error %}
        <div class="alert alert-primary" role="alert">
            {{ error }}
        </div>
        {% endif %}
    </div>
{% endblock %}