{% extends "layout.html" %}

{% block head %}
Weather
{% endblock %}

{% block title %}
Weather
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Info</th>
        </tr> 
        </thead>
        <tbody>
            <tr>
                <td>Temperature</td><td>{{ temp + "F"}}</td>
            </tr>
            <tr>
                <td>Humidity</td><td>{{ humid + " %" }}</td>
            </tr>
            <tr>
                <td>Chance of Rain</td><td>{{ rain + " %" }}</td>
            </tr>
            <tr>
                <td>Air Quality Index</td><td>{{ aqi }}</td>
            </tr>
            <tr>
                <td>Sunrise</td><td>{{ sunrise }}</td>
            </tr>
            <tr>
                <td>Sunset</td><td>{{ sunset }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <img src="{{ link }}" alt="{{ alt }}">
{% endblock %}